:root {
    --vp-button-brand-border: #2B7574;
    --vp-button-brand-text: #ffffff;
    --vp-button-brand-bg: #2B7574;
    --vp-button-brand-hover-border: #2B7574;
    --vp-button-brand-hover-text: #ffffff;
    --vp-button-brand-hover-bg: #3c9291;
    --vp-button-brand-active-border: #2B7574;
    --vp-button-brand-active-text: #2c3e50;
    --vp-button-brand-active-bg: #2B7574;
    --vp-home-hero-name-color: #2B7574;
    --vp-home-hero-image-filter: blur(40px);
}
  
.VPHero .VPImage.image-src {
    max-height: 192px;
}
  
@media (min-width: 640px) {
    :root {
        --vp-home-hero-image-filter: blur(56px);
    }
    .VPHero .VPImage.image-src {
        max-height: 256px;
    }
}
  
@media (min-width: 960px) {
    :root {
        --vp-home-hero-image-filter: blur(72px);
    }
    .VPHero .VPImage.image-src {
        max-height: 320px;
    }
}
